<mat-sidenav-container style="height: 100%">
    <mat-sidenav mode="side" opened role="navigation" style="width: 200px">
        <mat-nav-list>

            <a mat-list-item routerLink="/sources">Sources</a>
            <a mat-list-item routerLink="/navigation">Navigation</a>
            <a mat-list-item routerLink="/motors">Moteurs</a>
            <a mat-list-item routerLink="/energy">Énergie</a>
            <a mat-list-item routerLink="/debug">Debug log</a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="padding: 10px;">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>