<mat-card>
    <mat-card-header>
        <mat-card-title>Commands</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div style="display: flex; align-items: center;">
            <mat-form-field style="flex-grow: 1; width: 50px;">
                <input matInput #destinationX type="text" placeholder="X (mm)"
                    [value]="destination ? destination.x.toFixed(0) : null">
            </mat-form-field>
            <mat-form-field style="flex-grow: 1; width: 50px;">
                <input matInput #destinationY type="text" placeholder="Y (mm)"
                    [value]="destination ? destination.y.toFixed(0) : null">
            </mat-form-field>
            <button mat-raised-button [disabled]="!isValidDestination(+destinationX.value, +destinationY.value)"
                (click)="goto(+destinationX.value, +destinationY.value)" style="margin-left: 10px;">Atteindre</button>
        </div>
        <div style="display: flex; align-items: center;">
            <mat-form-field style="flex-grow: 1;">
                <input matInput #angle type="number" placeholder="Angle (d°)">
            </mat-form-field>
            <button mat-raised-button [disabled]="!isValidAngle(+angle.value)" (click)="rotate(+angle.value)"
                style="margin-left: 10px;">Tourner</button>
        </div>
        <div style="display: flex; align-items: center;">
            <mat-form-field style="flex-grow: 1;">
                <input matInput #distance type="number" placeholder="Distance (mm)">
            </mat-form-field>
            <button mat-raised-button [disabled]="!isValidDistance(+distance.value)" (click)="move(+distance.value)"
                style="margin-left: 10px;">Avancer</button>
        </div>
        <div>
            <button mat-raised-button
                [disabled]="!isValidReposition(+destinationX.value, +destinationY.value, +angle.value, +distance.value)"
                (click)="reposition(+destinationX.value, +destinationY.value, +angle.value, +distance.value)" style="margin-left: 10px;">Recalage</button>
            <button mat-raised-button color="warn" (click)="stopMove()" style="margin-left: 10px;">Stop</button>
            <button mat-raised-button (click)="resetMove()" style="margin-left: 10px;">Reset</button>
            <button mat-raised-button (click)="clear()" style="margin-left: 10px;">Vider</button>
        </div>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>