<mat-card>
    <mat-card-header>
        <mat-card-title>Devices</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-action-list>
            <button mat-list-item *ngFor="let source of sources" (click)="selectSource(source)">
                <mat-icon>{{selectedSource == source ? "play_arrow" : ""}}</mat-icon>
                <span style="margin-left: 5px;">{{source.label}}</span>
                <span style="flex-grow: 1;"></span>
                <mat-icon>{{source.online ? "link" : "link_off"}}</mat-icon>
            </button>
        </mat-action-list>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>