<mat-card>
    <mat-card-content>
        <div style="display: flex;">
            <span>{{source.label}}</span>
            <span style="flex-grow: 1;"></span>
            <span>{{source.displayState}}</span>
        </div>
        <div style="clear: both;"></div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
        <div style="text-align: end">
            <button mat-button *ngIf="canSuspend()" (click)="suspend()">SUSPENDRE</button>
            <button mat-button *ngIf="canResume()" (click)="resume()">REPRENDRE</button>
            <button mat-button color="warn" (click)="remove()">SUPPRIMER</button>
        </div>
    </mat-card-actions>
</mat-card>