<h2>Sources</h2>

<h4>Fichier log</h4>
<input type="file" (change)="addFile($event)" style="display: none" #fileInput>
<button mat-raised-button type="menu" role="button" (click)="fileInput.click()">Sélectionner un fichier</button>

<p></p>

<h4>Web socket</h4>
<mat-form-field style="margin-right: 15px; width: 450px;">
    <input matInput placeholder="URL" #urlWebSocket>
</mat-form-field>
<button mat-raised-button (click)="addWebSocket(urlWebSocket.value)">Ajouter</button>

<p></p>

<h4>Sources actives</h4>
<mat-grid-list cols="2" rowHeight="150px">
    <mat-grid-tile *ngFor="let source of sources">
        <cen-source-detail [source]="source" (removed)="remove($event)" style="width: 80%"></cen-source-detail>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="sources.length == 0">
        Aucune source
    </mat-grid-tile>
</mat-grid-list>