<div class="component">
    <div style="position: relative;">
        <div mat-ripple matRippleRadius="50" [style.width.px]="canvasWidth" [style.height.px]="canvasHeight">
            <canvas #canvas class="gameboard" (click)="handleClick($event)" (wheel)="handleWheel($event)"
                (mousemove)="handleMove($event)" (mouseout)="handleExit($event)" [style.width.px]="canvasWidth"
                [style.height.px]="canvasHeight"></canvas>
        </div>
        <div *ngFor="let device of devicesValues" #gauge class="gauge"
            [style.background-image]="'url(/assets/gauge-undefined.svg)'"></div>
    </div>
</div>

<div id="position" *ngIf="cursorPosition">Position : {{cursorPosition.x | number:'1.0-0':'fr'}} mm ;
    {{cursorPosition.y | number:'1.0-0':'fr'}} mm</div>