.component { padding: 5px; margin-bottom: 25px; }
.gameboard { background: url('/assets/gameboard.svg'); background-size: contain; cursor: crosshair; }
.gauge { width: 100px; height: 100px; background: url('/assets/gauge-undefined.svg'); background-size: contain; position: absolute; top: -50px; left: -50px; pointer-events: none; overflow: visible; }
#position { position: fixed; z-index: 1; bottom: 20px; margin: auto; background-color: rgba(255, 255, 255, 0.8); padding: 5px; }
