<mat-card>
    <mat-card-header>
        <mat-card-title>Status</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-divider></mat-divider>
        <div class="data" *ngIf="state">
            {{stateText}}
        </div>
        <mat-divider></mat-divider>
        <div class="data" *ngIf="position">
            <span>X : {{position.x}} mm</span>
            <span>Y : {{position.y}} mm</span>
            <span>angle : {{position.orientation}}°</span>
        </div>
        <mat-divider></mat-divider>
        <ng-container *ngIf="obstacle">
            <div style="padding-top: 20px;"></div>
            <mat-divider></mat-divider>
            <div class="data">
                <span>Détection d'obstacle</span>
                <span>{{obstacle.avoidanceEnabled ? "Actif" : "Inactif"}}</span>
                <span>{{obstacle.obstacleDetected ? "Détecté" : ""}}</span>
            </div>
            <div class="data" *ngIf="obstacle.obstaclePosition">
                <span>X : {{obstacle.obstaclePosition.x}} mm</span>
                <span>Y : {{obstacle.obstaclePosition.y}} mm</span>
            </div>
            <mat-divider></mat-divider>
        </ng-container>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>