<div id="page">
    <div id="maincontent">
        <div id="modal">
            <div id="header">
                <h2>Navigation</h2>
            </div>
            <div id="body">
                <cen-gameboard #gameboard></cen-gameboard>
            </div>
            <div id="footer">
            </div>
        </div>
    </div>
    <div id="rightPanel">
        <div>
            <cen-navigation-devices></cen-navigation-devices>
        </div>
        <div>
            <cen-navigation-status #status></cen-navigation-status>
        </div>
        <div>
            <cen-navigation-commands></cen-navigation-commands>
        </div>
    </div>
    <div id="clearingdiv"></div>
</div>