#page {
    margin-right: 450px;
}
#maincontent {
    float: left;
}
#rightPanel{
    float: right;
    width: 450px;
    margin-right: -450px;
}
#rightPanel div {
    margin-bottom: 15px;
}
#clearingdiv {
    clear: both;
}
#modal {
    position: fixed;
    top: 0;
    right: 460px;
    bottom: 0;
    left: 210px;
    display: flex;
    flex-direction: column;
}
#body {
    flex: 1;
    overflow: auto;
}
